@model Dominio.Empadronado;
<div class="row">
    <div class="col-lg-12">
        <form asp-action="Guardar" method="post" class="custom-validation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <input type="hidden" asp-for="EmpadronadoId" />
                <div class="col-sm-3 col-md-1">
                    <label class="form-label">Manzana</label>
                    <select asp-for="Manzana" class="form-select">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                        <option value="L">L</option>
                        <option value="M">M</option>
                        <option value="N">N</option>
                        <option value="O">O</option>
                        <option value="P">P</option>
                        <option value="Q">Q</option>
                        <option value="R">R</option>
                        <option value="S">S</option>
                        <option value="T">T</option>
                        <option value="U">U</option>
                    </select>
                </div>
                <div class="col-sm-3 col-md-2">
                    <label class="form-label">Lote</label>
                    <input asp-for="Lote" class="form-control" required />
                </div>  
                <div class="col-sm-3 col-md-2">
                    <label class="form-label">Dni Titular</label>
                    <input asp-for="Dni" class="form-control input-mask" required 
                    data-inputmask="'mask': '9', 'repeat': 8, 'greedy' : false" />
                </div>                
                <div class="col-sm-3 col-md-2">
                    <label class="form-label">Paterno</label>
                    <input asp-for="ApePaterno" class="form-control" required />
                </div>
                <div class="col-sm-3 col-md-2">
                    <label class="form-label">Materno</label>
                    <input asp-for="ApeMaterno" class="form-control" required />
                </div>
                <div class="col-sm-3 col-md-3">
                    <label class="form-label">Nombres</label>
                    <input asp-for="Nombres" class="form-control" required />
                </div>
                <div class="col-6 col-sm-6 col-md-3">
                    <label class="form-label">Fecha Nacimiento</label>
                    <div class="input-group">
                        <input name="FechaNacimiento" class="form-control input-mask" value="@Model.FechaNacimiento" data-inputmask="'alias': 'datetime'" data-inputmask-inputformat="dd/mm/yyyy" />
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-3">
                    <label class="form-label">Sexo</label>
                    <select asp-for="Sexo" class="form-select">
                        <option value="M">MASCULINO</option>
                        <option value="F">FEMENINO</option>
                    </select>
                </div>

                <div class="col-6 col-sm-6 col-md-3">
                    <label class="form-label">Celular</label>
                    <input asp-for="Celular" class="form-control" />
                </div>               
                
                <div class="col-6 col-sm-6 col-md-3">
                    <label class="form-label">Nro de Hijos</label>
                    <input asp-for="NroHijos" class="form-control" />
                </div> 
                <div class="col-6 col-sm-12 col-md-6">
                    <label class="form-label">Dirección</label>
                    <input asp-for="Direccion" class="form-control" />
                </div>
                <div class="col-6 col-sm-12 col-md-6">
                    <label class="form-label">Dirección Referencia</label>
                    <input asp-for="DireccionReferencia" class="form-control" />
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <label class="form-label">Conyugue</label>
                    <input asp-for="Conyugue" class="form-control" />
                </div>
                <div class="col-6 col-sm-6 col-md-2">
                    <label class="form-label">Conyugue DNI</label>
                    <input asp-for="ConyugueDni" class="form-control" />
                </div>
                <div class="col-6 col-sm-6 col-md-2">
                    <label class="form-label">Conyugue Celular</label>
                    <input asp-for="ConyugueCelular" class="form-control" />
                </div>               
                <div class="col-6 col-sm-6 col-md-3 mt-5 ">                   
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IndAgua" /> Tiene Agua?
                    </label>
                </div>
                <div class="col-6 col-sm-6 col-md-3 mt-5 ">                   
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IndHabita" /> Vive en Vivienda?
                    </label>
                </div>
                
                <div class="col-6 col-sm-6 col-md-3 mt-5">                    
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Activo" /> ACTIVO
                    </label>
                </div>
            </div>
            

            <div class="row mt-4">
                <div class="col-sm-6">
                    <a asp-action="Index" class="btn btn-secondary">
                        <i class="mdi mdi-arrow-left me-1"></i> Lista
                    </a>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end mt-2 mt-sm-0">
                        <button id="btnGuardar" type="submit" class="btn btn-primary">
                            <i class="mdi mdi-content-save me-1"></i> Guardar
                        </button>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>

